<!-- prettier-ignore -->
{% extends "模版.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
<!-- prettier-ignore -->
{% block nav %}
<ul>
  <li class="导航已选择">作文</li>
  <li><a href="./事例/?谓语={{主题谓语}}&宾语={{主题宾语}}">事例</a></li>
  <li><a href="./名言/?谓语={{主题谓语}}&宾语={{主题宾语}}">名言</a></li>
  <li><a href="https://zongjie.jackjyq.com">总结</a></li>
</ul>
{% endblock %}
<!-- prettier-ignore -->
{% block article %}
<h1>{{主题谓语}}{{主题宾语}}</h1>
<!-- 前半篇 -->
{%for 段 in range(0, 3)%}
<p>{{文章[段]}}</p>
{%endfor%}
<!-- Google 广告 -->
<ins
  class="adsbygoogle"
  style="display: block; text-align: center"
  data-ad-layout="in-article"
  data-ad-format="fluid"
  data-ad-client="ca-pub-4089826532740408"
  data-ad-slot="3215047669"
></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- 后半篇 -->
{%for 段 in range(3, 段数-1)%}
<p>{{文章[段]}}</p>
{%endfor%}
<!-- 最后一段 -->
<p>{{文章[段数-1]}}（共 {{字数}} 字）</p>
{% endblock %}
