<html lang="zh-cn">
<head>
  <title>小嘿作文生成器</title>
  <meta http-equiv="content-type" content="txt/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="keywords" content="作文生成器, 在线作文生成器, 免费作文生成器, 中学作文生成器, 考试作文生成器, 高考作文生成器">
  <meta name="description" content="小嘿作文生成器, 可免费在线自动生成海量作文。">
  <!-- 载入图标 -->
  <link rel="apple-touch-icon" sizes="180x180"
    href="{{ url_for('static',filename='./图标/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="16x16"
    href="{{ url_for('static',filename='./图标/favicon-16x16.png') }}">
  <link rel="manifest"
    href="{{ url_for('static',filename='./图标/site.webmanifest') }}">
  <link rel="icon" type="image/png" sizes="32x32"
    href="{{ url_for('static',filename='./图标/favicon-32x32.png') }}">
  <!-- 社交媒体分享 -->
  <meta property="og:title" content="小嘿作文生成器" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="小嘿作文生成器, 可免费在线自动生成海量作文。">
  <meta property="og:url" content="https://zuowen.jackjyq.com/" />
  <meta property="og:image" content="{{ url_for('static',filename='./图标/android-chrome-512x512.png') }}" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="512" />
  <meta property="og:image:height" content="512" />
  <!-- 载入样式表 -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='样式表.css') }}">
  <script src="{{ url_for('static',filename='脚本.js') }}" defer></script>
  <!-- 谷歌分析代码 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144741828-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-144741828-3');
  </script>
</head>
<body>
  <header>
    <form>
      <label for="谓语">谓语:</label>
      <input id="谓语" name="谓语" type="text" value={{主题谓语}}
        maxlength="14" required><br><br>
      <label for="宾语">宾语:</label>
      <input id="宾语" name="宾语" type="text" value={{主题宾语}}
        maxlength="14" required><br><br>
      <input type="submit" value="生成">
    </form>
  </header>
  <main>
    <article id="作文">
      <h1 id="标题">{{主题谓语}}{{主题宾语}}</h1>
      {%for 段数 in range(0, 总段数)%} 
      <p>{{作文[段数]}}</p>
      {%endfor%}
      <p style="text-align: right;">
        —— <a href="/">小嘿作文生成器</a></p>
    </article>
    <article>
      <h1>工具栏</h1>
      <p>为获得最佳兼容性，推荐使用
          <a href="https://www.mozilla.org/zh-CN/firefox/new/">
          Firefox 桌面版</a></p>
      <button onclick="复制作文()">复制作文</button>
      <button onclick="发送作文()">发送作文</button>
      <button onclick="下载作文()">下载作文</button>
    </article>
  </main>
  <footer>
    <a href="{{ url_for('static',filename='./赞赏/微信赞赏.jpg') }}">微信打赏</a> | 
    <a href="{{ url_for('static',filename='./赞赏/支付宝赞赏.jpg') }}">支付宝打赏</a> | 
    <a href="{{ url_for('static',filename='./图标/小嘿.png') }}">关于小嘿</a>
    <br />
    网站文字基于
    <a href="https://github.com/jackjyq/xiaohei-zuowen/blob/master/LICENSE">
      CC0 1.0 通用协议</a>发布
    <br />
    <a href="https://github.com/jackjyq/xiaohei-zuowen">
      项目代码</a>基于
    <a href="https://github.com/jackjyq/xiaohei-zuowen/blob/master/LICENSE">
      MIT 开源许可协议</a>发布
  </footer>
</body>
</html>