@charset "UTF-8";
@import url("初始样式表.css");

/* 颜色定义*/
:root {
  --主色: #e91e63;
  --副色: #e91e631f;
  --链接: #0969da;
  --警告色: #ff9800;
  --卡片色: #ffffff;
  --背景色: #f5f5f5;
  --主要文本: #000000de;
  --提示文本: #0000008a;
  --按钮文本: #ffffff;
}

/* 阴影定义
https://material-components.github.io/material-components-web-catalog/#/component/elevation
*/

:root {
  --高度2: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  --高度8: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/* 透明度定义
https://material.io/design/interaction/states.html#hover
https://material.io/design/interaction/states.html#pressed
*/
:root {
  --按钮悬停: 0.92;
  --图片悬停: 0.88;
  --按钮点击: 0.68;
  --图片点击: 0.52;
}

/* 字体定义
https://zenozeng.github.io/fonts.css/
 */
:root {
  --黑体: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC,
    Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei,
    sans-serif;
  --楷体: Baskerville, Georgia, "Liberation Serif", "Kaiti SC", STKaiti,
    "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE",
    "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, DFKai-SB, "TW\-Kai", serif;
}

/* 通用样式
*/
body {
  font-family: var(--黑体);
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--背景色);
  margin: auto;
  max-width: 600px;
}

a:link {
  color: var(--链接);
  text-decoration: none;
}

a:visited {
  color: var(--链接);
}

.卡片 {
  box-shadow: var(--高度2);
  background-color: var(--卡片色);
  border-radius: 4px;
  padding: 16px;
  margin: 8px 8px 0px 8px;
}

/* 输入区域 */
.输入栏 {
  display: flex;
}

header input {
  box-sizing: border-box;
  height: 54px;
  padding: 1em;
  caret-color: var(--主色);
  color: var(--主色);
  font-size: 1em;
  /* 兼容 Safari */
  border-radius: 0;
}

header input:focus {
  outline: none;
}

/* 选中输入框时自动隐藏占位符
https://stackoverflow.com/a/12250084 */
header input:focus::placeholder {
  opacity: 0;
  transition: opacity 100ms linear;
}

header .输入框 {
  flex-grow: 1;
  position: relative;
}

header form input[type="text"] {
  min-width: 4em;
  width: 100%;
}

/* 主题谓语 */
.输入框:nth-of-type(1) input {
  border: 2px solid var(--主色);
  border-radius: 4px 0 0 4px;
}

.输入框 label {
  position: absolute;
  top: -0.5em;
  left: 1.75em;
  padding: 0 0.25em;
  background-color: var(--卡片色);
}

/* 主题宾语 */
.输入框:nth-of-type(2) input {
  border-top: 2px solid var(--主色);
  border-bottom: 2px solid var(--主色);
  border-left: 0px solid;
  border-right: 0px solid;
}

/* 生成按钮 */
header form input[type="submit"] {
  text-align: center;
  border: 2px solid var(--主色);
  border-radius: 0 4px 4px 0;
  background-color: var(--主色);
  color: #ffffff;
  cursor: pointer;
  /* 兼容 Safari */
  margin: 0;
  /* https://stackoverflow.com/questions/5438567/css-submit-button-weird-rendering-on-ipad-iphone */
  -webkit-appearance: none;
}

header form input[type="submit"]:hover {
  opacity: var(--按钮悬停);
}

header form input[type="submit"]:active {
  box-shadow: var(--高度8);
  opacity: var(--按钮点击);
}

header label {
  font-size: 0.75em;
  color: var(--主色);
  transition: opacity 100ms linear;
  /* 兼容 Safari, 否则会自动添加 display: none */
  display: block;
}

/*警告*/
.警告 .输入框 input {
  caret-color: var(--警告色);
  color: var(--主要文本);
  border-color: var(--警告色);
}
.警告 input[type="submit"] {
  background-color: var(--警告色);
  border-color: var(--警告色);
}

.警告 label {
  color: var(--警告色);
}

/* 示例区域 */
header section {
  /* 兼容 Safari, 否则会自动添加 display: none */
  display: block;
  font-size: 0.875em;
  transition: max-height 250ms ease-out;
  overflow: hidden;
}

header section h1 {
  margin-top: 1rem;
}

header section ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
  margin: 0.5rem 0;
}

header section ul li:hover {
  opacity: var(--按钮悬停);
}

header section ul li:active {
  opacity: var(--按钮点击);
}

header section ul li span {
  display: inline-block;
  box-sizing: border-box;
  height: 2rem;
  background-color: var(--副色);
  color: var(--主色);
}

/* 主题谓语 */
header section ul li span:nth-of-type(1) {
  border: 1px solid var(--主色);
  border-radius: 1rem 0 0 1rem;
  /* 高度是 2rem, 居中 */
  padding: calc((2rem - 1em * 1.5 - 2px) / 2) 0.25rem
    calc((2rem - 1em * 1.5 - 2px) / 2) 1rem;
}

/* 主题宾语 */
header section ul li span:nth-of-type(2) {
  border: 1px solid var(--主色);
  border-radius: 0 1rem 1rem 0;
  /* 去除左边 border */
  border-left: 0;
  /* 高度是 2rem, 居中 */
  padding: calc((2rem - 1em * 1.5 - 2px) / 2) 1rem
    calc((2rem - 1em * 1.5 - 2px) / 2) 0.25rem;
}

/* 正文区域 */
main article:nth-of-type(1) {
  font-family: var(--黑体);
}

main article:nth-of-type(1) h1 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  text-align: center;
  font-weight: bold;
}

main article:nth-of-type(1) p {
  text-indent: 2em;
  margin-bottom: 0.5em;
}

/* 打赏区域 */
main article:nth-of-type(2) h1 {
  color: var(--主色);
  font-size: 1.25em;
  margin-bottom: 0.5em;
  text-align: center;
  font-weight: bold;
}

main article:nth-of-type(2) section {
  display: flex;
  gap: 8px;
}

main article:nth-of-type(2) img {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 8px;
}

main article:nth-of-type(2) img:hover {
  opacity: var(--图片悬停);
}

main article:nth-of-type(2) img:active {
  opacity: var(--图片点击);
}

main article:nth-of-type(2) figcaption {
  text-align: center;
}

main {
  /* 页面高度 - 版权区域高度*/
  min-height: calc(100vh - 6.5em);
}

/* 版权区域 */
footer {
  text-align: center;
  font-size: 0.75em;
  color: var(--提示文本);
  margin: 16px;
}
